
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow signed-in users to read from the 'teachers' collection
    match /teachers/{teacherId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == teacherId;
    }

    // Allow signed-in users to read from the 'teacherResources' collection
    match /teacherResources/{docId} {
      allow read, write: if request.auth != null;
    }
    
     // Allow signed-in users to read from the 'curriculumData' collection
    match /curriculumData/{docId} {
       allow read, write: if request.auth != null;
    }

    // Default deny for all other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
